<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bus-regreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <iframe id="item-direct-container" class="item-direct-container resizable" width="400" height="600" allow="autoplay" allowfullscreen="" frameborder="0" scrolling="no" data-src="https://html5.gamedistribution.com/571b9df027e449f78e3869ba19658754?gd_sdk_referrer_url=https%3A%2F%2Fes.y8.com%2Fgames%2Fpenalty_shooters_2&amp;key=y8&amp;value=default" src="https://html5.gamedistribution.com/571b9df027e449f78e3869ba19658754?gd_sdk_referrer_url=https%3A%2F%2Fes.y8.com%2Fgames%2Fpenalty_shooters_2&amp;key=y8&amp;value=default" style="display: block;"></iframe>
</ion-content>
