<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondohome">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ColorAO">Lista Alitas Cuenca</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="ColorAO" >Alitas Orange</h1>
        <img src="https://tb-static.uber.com/prod/image-proc/processed_images/5c824d3907dee7022128f34f28e55948/4218ca1d09174218364162cd0b1a8cc1.jpeg" alt="">
        <p clase="letra">Visita nuestro Local de la San Blas, recuerda que estamos MÁS CERCA DE TI.
          Contamos con área de juego para niños, para que los pequeños estén divertidos mientras disfrutas de nuestro menú.</p>
          <ion-button target=" " href="https://maps.app.goo.gl/uDaSKUwi5VrCT1YW9">
            <ion-icon name="golf" slot="start"></ion-icon >
            Llevame
          </ion-button>
          
      </div>
    </div>
  </div>

 

</ion-content>
